.header {
    position: sticky;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px darkgray solid;
    width: 90%;
    top: 0;
    z-index: 10;
    transition: transform 0.5s ease-in-out;

    * {
        align-self: center;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        * {
            margin-right: 10px;
            text-decoration: none;
            color: #000000;
            transition: color .2s ease-in;

            &:hover {
                color: darkgray;
            }
        }

        :last-child {
            margin-right: 0px;
        }
    }

    .header_inner {
        width: 80%;
        max-width: 500px;
    }

    &.hidden {
        transform: translateY(-100%);
    }
}